
body{
    background-color:FFFFFF;
    color:#434455 ;
    font-family: "roboto",sans-serif;
}
/* header */
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #2E2F42;
    text-decoration: none;
}
.text-colored{
    color: #4D5AE5 ;
}

ul{
    list-style: none;
}
/* site nav */
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em; 
    color: #2E2F42; 
    text-decoration: none;   
}
.header-link:hover,
.header-link:focus {
    color:#434455;
}
.contact-link
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration:none;
}
.contact-link:hover,
.contact-link:focus
{
color: #4D5AE5
}
/* hero */
.hero-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1,o7;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
}
.hero-button:active{
    background: #404BBF;
}
.hero-button:hover,
.hero-button:focus{
    background: #4D5AE5;
    cursor: pointer;
}

/* section and section team */

.section-post-title,
.team-post-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-text,
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* section work and section team*/
.work-title,
.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
/* footer */
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* portfolio */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #434455;
    background-color:#FFFFFF ;

}
.button.primary{
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.button.primary:hover,
.hero-button:focus
{
    color: #4D5AE5 ;
    background-color: #FFFFFF;
    cursor: pointer;
}
.button.secondary{
    color: #4D5AE5;
    background: #F4F4FD;
}
.button.secondary:hover,
.button.secondary:focus{
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}
.example-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.examle-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
}